<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  {{markers | json}}
  <br>
  <div class="coord-save-button">
    <button class="btn btn-primary" (click)="saveCoords()">Save Coords</button>
    <button class="btn btn-success" (click)="removeCoords()">Remove Coords</button>
  </div>

  <br>
  <div>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="manageSelect($event)">
      <agm-marker [latitude]="m.lat" [longitude]="m.lng" *ngFor="let m of markers, let i = index" (markerClick)="markerClicked(m,i)"
        [markerDraggable]="m.draggable" (dragEnd)='markerDragEnd(m,$event)'>
        <agm-info-window>
          {{m.name}}
          <button class="delete-save-button" (click)="deleteMarker(m)">delete</button>
        </agm-info-window>
      </agm-marker>
      <div *ngIf="markTerritory">
        <agm-polygon [paths]="markers" [strokeOpacity]="0.6" [strokeWeight]="0.1" [fillColor]="'green'" [fillOpacity]='0.6' [editable]='false'
          [geodesic]='false' (polyClick)='polyClicked($event)'>
          <agm-polygon [paths]="subCoordsMarkers" [strokeOpacity]="0.6" [strokeWeight]="0.1" [fillColor]="'pink'" [fillOpacity]='0.6'
            [editable]='false' [geodesic]='true'>
          </agm-polygon>
        </agm-polygon>

      </div>
    </agm-map>
  </div>

  <div *ngIf="">
    {{ restaurant.longitude }} {{ restaurant.latitude }}
    <agm-map [latitude]="restaurant.latitude" [longitude]="restaurant.longitude">
      <agm-marker [latitude]="restaurant.latitude" [longitude]="restaurant.longitude"></agm-marker>
      <agm-polygon *ngFor="let zone of restaurant.delivery_zones" [fillColor]="red" [fillOpacity]="0.5" [strokeColor]="blue" [strokeOpacity]="0.6"
        [strokeWeight]="2" [visible]="true" [zIndex]="1">
        <ng-container *ngFor="let point of paths">
          <agm-polyline-point [latitude]="point.lat" [longitude]="point.lng">
          </agm-polyline-point>
        </ng-container>Ï
      </agm-polygon>
    </agm-map>
  </div>
</div>
